

body{
background:black;
color:#e0e0e0;
font-family:Arial, Helvetica, sans-serif;
}

.navbar{
background:black;
}

.hero{
  position:relative;
  height:90vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
  background:url(../images/VALGUS.png) center/cover no-repeat;
  background-size: contain;
}

.hero::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}

.hero *{
  position:relative;
  z-index:1;
}

.hero h1{
font-size:60px;
font-weight:bold;
}

.hero p{
color:#aaa;
}

.btn-primary{
background:#ffffff;
color: #000000;
border:none;
}

.btn-primary:hover{
background:#000000;

}

.section{
padding:80px 0;
}

.card{
background:#1b1b1b;
border:none;
color:#ddd;
}

.portfolio img{
border-radius:8px;
}

footer{
background:black;
padding:30px;
text-align:center;
color:#777;
}
ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.section2{
    background: #1a1a1a;
    margin-top: 3px;
}
.custom-card{
  border: 1px solid rgb(9, 9, 128);
  box-shadow: 0 4px 15px rgba(0, 26, 255, 0.4);
  border-radius: 10px;
}
.custom-card2{
  border: 1px solid rgb(128, 9, 9);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.4);
  border-radius: 10px;
}
.custom-card3{
  border: 1px solid rgb(128, 9, 9);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.4);
  border-radius: 10px;
}
.custom-card4{
  border: 1px solid rgb(53, 128, 9);
  box-shadow: 0 4px 15px rgba(51, 255, 0, 0.4);
  border-radius: 10px;
}
.custom-card5{
  border: 1px solid rgb(9, 9, 128);
  box-shadow: 0 4px 15px rgba(0, 26, 255, 0.4);
  border-radius: 10px;
}
.custom-card6{
  border: 1px solid rgb(114, 114, 114);
  box-shadow: 0 4px 15px #fdfdfd66;
  border-radius: 10px;
}
.stars{
    background-image: radial-gradient(2px 2px at 20px 30px, white, transparent),
                      radial-gradient(1px 1px at 40px 70px, white, transparent),
                      radial-gradient(2px 2px at 90px 40px, white, transparent),
                      radial-gradient(1px 1px at 130px 80px, white, transparent);
    background-size:200px 200px;
}
.no-rounded {
  border-radius: 0;
}
.no-rounded img {
  border-radius: 0;
  box-shadow:0 2px 7px #000000;
}
.custom-bg{
  background-color: #0f0f0f;
}
