

body{
background:black;
color:#e0e0e0;
font-family:Arial, Helvetica, sans-serif;
}

.navbar{
background:black;
}

.hero{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:linear-gradient(180deg,black,rgb(34, 34, 34));
}

.hero h1{
font-size:60px;
font-weight:bold;
}

.hero p{
color:#aaa;
}

.btn-primary{
background:#444;
border:none;
}

.btn-primary:hover{
background:#666;
}

.section{
padding:80px 0;
}

.card{
background:#1b1b1b;
border:none;
color:#ddd;
}

.portfolio img{
border-radius:8px;
}

footer{
background:black;
padding:30px;
text-align:center;
color:#777;
}
ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.section2{
    background: #1a1a1a;
    margin-top: 3px;
}